body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {

    background: linear-gradient(rgba(22, 34, 42, .5),rgba(58, 96, 115, .8)),  url('./img/bg.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
}

.logo {
    height: 120px;
    margin-top: 20px;
}

.text-description {
    letter-spacing: 2px;
    font-family: sans-serif;    
}

.form-control {
    background: transparent !important;
    color: #fff !important;
}

a .fab {
    color: #fff;
    font-size: 30px;
    margin: 0 10px;
}